<div class="grid__md-8">
	<h1>Flavors</h1>
	<p>At Graf’s, we specialize in making a variety of different flavors in all of our cakes, tortes, cookies, and other pastries. Here are our flavors for cakes so you can know ahead before ordering over the phone!</p>
	
	<dl>
		<dt>Strawberry</dt>
		<dd>Yellow cake with strawberry mousse filling</dd>
		<dt>Raspberry*</dt>
		<dd>Yellow or chocolate cake with Raspberry mousse filling</dd>
		<dt>Lemon</dt>
		<dd>Yellow cake with lemon mousse and lemon jam</dd>
		<dt>Mocha Kahlua*</dt>
		<dd>Yellow cake, whipping cream with coffee flavor and apricot jam</dd>
		<dt>Hazelnut*</dt>
		<dd>Yellow nut cake, praline cream filling with raspberry jam</dd>
		<dt>Rum</dt>
		<dd>3 layer chocolate cake, 2 layers yellow cake whipping cream and strawberry filling and 1 layer of custard</dd>
		<dt>Chocolate Mousse</dt>
		<dd>Yellow cake with chocolate mousse filling</dd>
		<dt>Double Chocolate</dt>
		<dd>Chocolate cake with chocolate mousse filling</dd>
		<dt>Black Forest</dt>
		<dd>Chocolate cake whipping cream and cherries</dd>
		<dt>Tiramisu</dt>
		<dd>Chocolate cake with cream cheese and coffee flavor</dd>
		<dt>Vienna</dt>
		<dd>Yellow cake and strawberry mousse with assorted fruits on top</dd>
	</dl>

	<p><em>*May have nuts as decorations</em></p>

	<p class=""><a ui-sref="contact" class="button button--primary">Place an Order</a></p>
</div>

<div class="grid__md-3 grid__md--offset-1">
	<div ng-include="'partials/sidebar.html'"></div>
</div>