
<div class="grid__md-8">
	<h1>Welcome</h1>
	<p>Thanks for stopping by! At Graf's Pastry, we make the best European-style tortes and pastries from scratch daily.</p>
	<ul class="grid list-unstyled">
    	<li class="grid__xs-4"><img src="images/josef_1.jpeg" class="bordered-image"></li>
    	<li class="grid__xs-4"><img src="images/josef_2.jpeg" class="bordered-image"></li>
    	<li class="grid__xs-4"><img src="images/josef_3.jpeg" class="bordered-image"></li>
	</ul>
	<h2>About Us</h2>
	<p>Peter and Inger Graf opened Graf's Pastry in 1978, wanting to share their love of traditional European-style pastries here in the United States. In 1984, Josef Hartung joined Peter and Inger, helping them bring even more delicious tortes, cakes, cookies, and pastries to their growing base of customers. Josef started learning his art in the early 70's in Suessen and later Stuttgart, Germany, going on to become Head Pastry Chef at Berner’s Cafe in Goppinger, Germany from 1980-82, and at Aschbacher Cafe from 1982-84. In 1999, Peter and Inger retired, passing the shop on to Josef, along with his new partner Andrea Dadourian. Almost 40 years later, Josef and Andrea have been keeping alive the passion and creativity for pastries that Peter and Inger wished to share with the Metro Detroit area when they first opened Graf's.</p>
</div>

<div class="grid__md-3 grid__md--offset-1">
	<div ng-include="'partials/sidebar.html'"></div>
</div>