<div class="grid__md-8">
	<h1>Our Pastries</h1>
	<div class="grid">
		<div class="grid__sm-4">
			<img src="images/pastries/4.jpg" class="bordered-image">
		</div>
		<div class="grid__sm-8">
			<p>We specialize in a wide variety of European-style baked goods, including cookies, cakes, tortes, pastries, flans, and more. What makes something European-style, you may ask? Good question! When creating baked goods and desserts, the traditional European philosophy is to focus on a delicious, complex flavor, not just making it really sweet (like traditional American desserts). For example, European chocalate tends to be richer in cocoa, as opposed to American chocolate which is usually sweeter.</p>
		</div>
	</div>

	<h2>Weddings</h2>
	<p>Our Head Pastry Chef, Josef, has been clasically trained in more than just making delectable desserts&mdash;he is also an established cake designer who creates stunning works of edible art.</p>
	<p>We specialize in wedding cakes of all varieties, including multi-tiers and the ever-popular groom's cake</p>
	<div class="grid">
		<div class="grid__sm-4">
			<img src="images/wedding/25.jpg" class="bordered-image">
		</div>
		<div class="grid__sm-4">
			<img src="images/wedding/21.jpg" class="bordered-image">
		</div>
		<div class="grid__sm-4">
			<img src="images/wedding/15.jpg" class="bordered-image">
		</div>
	</div>

	<h2>Catreing &amp; Special Occassions</h2>
	<p></p>
	
	
</div>

<div class="grid__md-3 grid__md--offset-1">
	<div ng-include="'partials/sidebar.html'"></div>
</div>