$icon-home: "\e800";
$icon-home2: "\e801";
$icon-home3: "\e802";
$icon-office: "\e803";
$icon-newspaper: "\e804";
$icon-pencil: "\e805";
$icon-pencil2: "\e806";
$icon-quill: "\e807";
$icon-pen: "\e808";
$icon-blog: "\e809";
$icon-eyedropper: "\e80a";
$icon-droplet: "\e80b";
$icon-paint-format: "\e80c";
$icon-image: "\e80d";
$icon-images: "\e80e";
$icon-camera: "\e80f";
$icon-headphones: "\e810";
$icon-music: "\e811";
$icon-play: "\e812";
$icon-film: "\e813";
$icon-video-camera: "\e814";
$icon-dice: "\e815";
$icon-pacman: "\e816";
$icon-spades: "\e817";
$icon-clubs: "\e818";
$icon-diamonds: "\e819";
$icon-bullhorn: "\e81a";
$icon-connection: "\e81b";
$icon-podcast: "\e81c";
$icon-feed: "\e81d";
$icon-mic: "\e81e";
$icon-book: "\e81f";
$icon-books: "\e820";
$icon-library: "\e821";
$icon-file-text: "\e822";
$icon-profile: "\e823";
$icon-file-empty: "\e824";
$icon-files-empty: "\e825";
$icon-file-text2: "\e826";
$icon-file-picture: "\e827";
$icon-file-music: "\e828";
$icon-file-play: "\e829";
$icon-file-video: "\e82a";
$icon-file-zip: "\e82b";
$icon-copy: "\e82c";
$icon-paste: "\e82d";
$icon-stack: "\e82e";
$icon-folder: "\e82f";
$icon-folder-open: "\e830";
$icon-folder-plus: "\e831";
$icon-folder-minus: "\e832";
$icon-folder-download: "\e833";
$icon-folder-upload: "\e834";
$icon-price-tag: "\e835";
$icon-price-tags: "\e836";
$icon-barcode: "\e837";
$icon-qrcode: "\e838";
$icon-ticket: "\e839";
$icon-cart: "\e83a";
$icon-coin-dollar: "\e83b";
$icon-coin-euro: "\e83c";
$icon-coin-pound: "\e83d";
$icon-coin-yen: "\e83e";
$icon-credit-card: "\e83f";
$icon-calculator: "\e840";
$icon-lifebuoy: "\e841";
$icon-phone: "\e842";
$icon-phone-hang-up: "\e843";
$icon-address-book: "\e844";
$icon-envelop: "\e845";
$icon-pushpin: "\e846";
$icon-location: "\e847";
$icon-location2: "\e848";
$icon-compass: "\e849";
$icon-compass2: "\e84a";
$icon-map: "\e84b";
$icon-map2: "\e84c";
$icon-history: "\e84d";
$icon-clock: "\e84e";
$icon-clock2: "\e84f";
$icon-alarm: "\e850";
$icon-bell: "\e851";
$icon-stopwatch: "\e852";
$icon-calendar: "\e853";
$icon-printer: "\e854";
$icon-keyboard: "\e855";
$icon-display: "\e856";
$icon-laptop: "\e857";
$icon-mobile: "\e858";
$icon-mobile2: "\e859";
$icon-tablet: "\e85a";
$icon-tv: "\e85b";
$icon-drawer: "\e85c";
$icon-drawer2: "\e85d";
$icon-box-add: "\e85e";
$icon-box-remove: "\e85f";
$icon-download: "\e860";
$icon-upload: "\e861";
$icon-floppy-disk: "\e862";
$icon-drive: "\e863";
$icon-database: "\e864";
$icon-undo: "\e865";
$icon-redo: "\e866";
$icon-undo2: "\e867";
$icon-redo2: "\e868";
$icon-forward: "\e869";
$icon-reply: "\e86a";
$icon-bubble: "\e86b";
$icon-bubbles: "\e86c";
$icon-bubbles2: "\e86d";
$icon-bubble2: "\e86e";
$icon-bubbles3: "\e86f";
$icon-bubbles4: "\e870";
$icon-user: "\e871";
$icon-users: "\e872";
$icon-user-plus: "\e873";
$icon-user-minus: "\e874";
$icon-user-check: "\e875";
$icon-user-tie: "\e876";
$icon-quotes-left: "\e877";
$icon-quotes-right: "\e878";
$icon-hour-glass: "\e879";
$icon-spinner: "\e87a";
$icon-spinner2: "\e87b";
$icon-spinner3: "\e87c";
$icon-spinner4: "\e87d";
$icon-spinner5: "\e87e";
$icon-spinner6: "\e87f";
$icon-spinner7: "\e880";
$icon-spinner8: "\e881";
$icon-spinner9: "\e882";
$icon-spinner10: "\e883";
$icon-spinner11: "\e884";
$icon-binoculars: "\e885";
$icon-search: "\e886";
$icon-zoom-in: "\e887";
$icon-zoom-out: "\e888";
$icon-enlarge: "\e889";
$icon-shrink: "\e88a";
$icon-enlarge2: "\e88b";
$icon-shrink2: "\e88c";
$icon-key: "\e88d";
$icon-key2: "\e88e";
$icon-lock: "\e88f";
$icon-unlocked: "\e890";
$icon-wrench: "\e891";
$icon-equalizer: "\e892";
$icon-equalizer2: "\e893";
$icon-cog: "\e894";
$icon-cogs: "\e895";
$icon-hammer: "\e896";
$icon-magic-wand: "\e897";
$icon-aid-kit: "\e898";
$icon-bug: "\e899";
$icon-pie-chart: "\e89a";
$icon-stats-dots: "\e89b";
$icon-stats-bars: "\e89c";
$icon-stats-bars2: "\e89d";
$icon-trophy: "\e89e";
$icon-gift: "\e89f";
$icon-glass: "\e8a0";
$icon-glass2: "\e8a1";
$icon-mug: "\e8a2";
$icon-spoon-knife: "\e8a3";
$icon-leaf: "\e8a4";
$icon-rocket: "\e8a5";
$icon-meter: "\e8a6";
$icon-meter2: "\e8a7";
$icon-hammer2: "\e8a8";
$icon-fire: "\e8a9";
$icon-lab: "\e8aa";
$icon-magnet: "\e8ab";
$icon-bin: "\e8ac";
$icon-bin2: "\e8ad";
$icon-briefcase: "\e8ae";
$icon-airplane: "\e8af";
$icon-truck: "\e8b0";
$icon-road: "\e8b1";
$icon-accessibility: "\e8b2";
$icon-target: "\e8b3";
$icon-shield: "\e8b4";
$icon-power: "\e8b5";
$icon-switch: "\e8b6";
$icon-power-cord: "\e8b7";
$icon-clipboard: "\e8b8";
$icon-list-numbered: "\e8b9";
$icon-list: "\e8ba";
$icon-list2: "\e8bb";
$icon-tree: "\e8bc";
$icon-menu: "\e8bd";
$icon-menu2: "\e8be";
$icon-menu3: "\e8bf";
$icon-menu4: "\e8c0";
$icon-cloud: "\e8c1";
$icon-cloud-download: "\e8c2";
$icon-cloud-upload: "\e8c3";
$icon-cloud-check: "\e8c4";
$icon-download2: "\e8c5";
$icon-upload2: "\e8c6";
$icon-download3: "\e8c7";
$icon-upload3: "\e8c8";
$icon-sphere: "\e8c9";
$icon-earth: "\e8ca";
$icon-link: "\e8cb";
$icon-flag: "\e8cc";
$icon-attachment: "\e8cd";
$icon-eye: "\e8ce";
$icon-eye-plus: "\e8cf";
$icon-eye-minus: "\e8d0";
$icon-eye-blocked: "\e8d1";
$icon-bookmark: "\e8d2";
$icon-bookmarks: "\e8d3";
$icon-sun: "\e8d4";
$icon-contrast: "\e8d5";
$icon-brightness-contrast: "\e8d6";
$icon-star-empty: "\e8d7";
$icon-star-half: "\e8d8";
$icon-star-full: "\e8d9";
$icon-heart: "\e8da";
$icon-heart-broken: "\e8db";
$icon-man: "\e8dc";
$icon-woman: "\e8dd";
$icon-man-woman: "\e8de";
$icon-happy: "\e8df";
$icon-happy2: "\e8e0";
$icon-smile: "\e8e1";
$icon-smile2: "\e8e2";
$icon-tongue: "\e8e3";
$icon-tongue2: "\e8e4";
$icon-sad: "\e8e5";
$icon-sad2: "\e8e6";
$icon-wink: "\e8e7";
$icon-wink2: "\e8e8";
$icon-grin: "\e8e9";
$icon-grin2: "\e8ea";
$icon-cool: "\e8eb";
$icon-cool2: "\e8ec";
$icon-angry: "\e8ed";
$icon-angry2: "\e8ee";
$icon-evil: "\e8ef";
$icon-evil2: "\e8f0";
$icon-shocked: "\e8f1";
$icon-shocked2: "\e8f2";
$icon-baffled: "\e8f3";
$icon-baffled2: "\e8f4";
$icon-confused: "\e8f5";
$icon-confused2: "\e8f6";
$icon-neutral: "\e8f7";
$icon-neutral2: "\e8f8";
$icon-hipster: "\e8f9";
$icon-hipster2: "\e8fa";
$icon-wondering: "\e8fb";
$icon-wondering2: "\e8fc";
$icon-sleepy: "\e8fd";
$icon-sleepy2: "\e8fe";
$icon-frustrated: "\e8ff";
$icon-frustrated2: "\e900";
$icon-crying: "\e901";
$icon-crying2: "\e902";
$icon-point-up: "\e903";
$icon-point-right: "\e904";
$icon-point-down: "\e905";
$icon-point-left: "\e906";
$icon-warning: "\e907";
$icon-notification: "\e908";
$icon-question: "\e909";
$icon-plus: "\e90a";
$icon-minus: "\e90b";
$icon-info: "\e90c";
$icon-cancel-circle: "\e90d";
$icon-blocked: "\e90e";
$icon-cross: "\e90f";
$icon-checkmark: "\e910";
$icon-checkmark2: "\e911";
$icon-spell-check: "\e912";
$icon-enter: "\e913";
$icon-exit: "\e914";
$icon-play2: "\e915";
$icon-pause: "\e916";
$icon-stop: "\e917";
$icon-previous: "\e918";
$icon-next: "\e919";
$icon-backward: "\e91a";
$icon-forward2: "\e91b";
$icon-play3: "\e91c";
$icon-pause2: "\e91d";
$icon-stop2: "\e91e";
$icon-backward2: "\e91f";
$icon-forward3: "\e920";
$icon-first: "\e921";
$icon-last: "\e922";
$icon-previous2: "\e923";
$icon-next2: "\e924";
$icon-eject: "\e925";
$icon-volume-high: "\e926";
$icon-volume-medium: "\e927";
$icon-volume-low: "\e928";
$icon-volume-mute: "\e929";
$icon-volume-mute2: "\e92a";
$icon-volume-increase: "\e92b";
$icon-volume-decrease: "\e92c";
$icon-loop: "\e92d";
$icon-loop2: "\e92e";
$icon-infinite: "\e92f";
$icon-shuffle: "\e930";
$icon-arrow-up-left: "\e931";
$icon-arrow-up: "\e932";
$icon-arrow-up-right: "\e933";
$icon-arrow-right: "\e934";
$icon-arrow-down-right: "\e935";
$icon-arrow-down: "\e936";
$icon-arrow-down-left: "\e937";
$icon-arrow-left: "\e938";
$icon-arrow-up-left2: "\e939";
$icon-arrow-up2: "\e93a";
$icon-arrow-up-right2: "\e93b";
$icon-arrow-right2: "\e93c";
$icon-arrow-down-right2: "\e93d";
$icon-arrow-down2: "\e93e";
$icon-arrow-down-left2: "\e93f";
$icon-arrow-left2: "\e940";
$icon-circle-up: "\e941";
$icon-circle-right: "\e942";
$icon-circle-down: "\e943";
$icon-circle-left: "\e944";
$icon-tab: "\e945";
$icon-move-up: "\e946";
$icon-move-down: "\e947";
$icon-sort-alpha-asc: "\e948";
$icon-sort-alpha-desc: "\e949";
$icon-sort-numeric-asc: "\e94a";
$icon-sort-numberic-desc: "\e94b";
$icon-sort-amount-asc: "\e94c";
$icon-sort-amount-desc: "\e94d";
$icon-command: "\e94e";
$icon-shift: "\e94f";
$icon-ctrl: "\e950";
$icon-opt: "\e951";
$icon-checkbox-checked: "\e952";
$icon-checkbox-unchecked: "\e953";
$icon-radio-checked: "\e954";
$icon-radio-checked2: "\e955";
$icon-radio-unchecked: "\e956";
$icon-crop: "\e957";
$icon-make-group: "\e958";
$icon-ungroup: "\e959";
$icon-scissors: "\e95a";
$icon-filter: "\e95b";
$icon-font: "\e95c";
$icon-ligature: "\e95d";
$icon-ligature2: "\e95e";
$icon-text-height: "\e95f";
$icon-text-width: "\e960";
$icon-font-size: "\e961";
$icon-bold: "\e962";
$icon-underline: "\e963";
$icon-italic: "\e964";
$icon-strikethrough: "\e965";
$icon-omega: "\e966";
$icon-sigma: "\e967";
$icon-page-break: "\e968";
$icon-superscript: "\e969";
$icon-subscript: "\e96a";
$icon-superscript2: "\e96b";
$icon-subscript2: "\e96c";
$icon-text-color: "\e96d";
$icon-pagebreak: "\e96e";
$icon-clear-formatting: "\e96f";
$icon-table: "\e970";
$icon-table2: "\e971";
$icon-insert-template: "\e972";
$icon-pilcrow: "\e973";
$icon-ltr: "\e974";
$icon-rtl: "\e975";
$icon-section: "\e976";
$icon-paragraph-left: "\e977";
$icon-paragraph-center: "\e978";
$icon-paragraph-right: "\e979";
$icon-paragraph-justify: "\e97a";
$icon-indent-increase: "\e97b";
$icon-indent-decrease: "\e97c";
$icon-share: "\e97d";
$icon-new-tab: "\e97e";
$icon-embed: "\e97f";
$icon-embed2: "\e980";
$icon-terminal: "\e981";
$icon-share2: "\e982";
$icon-mail: "\e983";
$icon-mail2: "\e984";
$icon-mail3: "\e985";
$icon-mail4: "\e986";
$icon-google: "\e987";
$icon-google-plus: "\e988";
$icon-google-plus2: "\e989";
$icon-google-plus3: "\e98a";
$icon-google-drive: "\e98b";
$icon-facebook: "\e98c";
$icon-facebook2: "\e98d";
$icon-facebook3: "\e98e";
$icon-ello: "\e98f";
$icon-instagram: "\e990";
$icon-twitter: "\e991";
$icon-twitter2: "\e992";
$icon-twitter3: "\e993";
$icon-feed2: "\e994";
$icon-feed3: "\e995";
$icon-feed4: "\e996";
$icon-youtube: "\e997";
$icon-youtube2: "\e998";
$icon-youtube3: "\e999";
$icon-youtube4: "\e99a";
$icon-twitch: "\e99b";
$icon-vimeo: "\e99c";
$icon-vimeo2: "\e99d";
$icon-vimeo3: "\e99e";
$icon-lanyrd: "\e99f";
$icon-flickr: "\e9a0";
$icon-flickr2: "\e9a1";
$icon-flickr3: "\e9a2";
$icon-flickr4: "\e9a3";
$icon-picassa: "\e9a4";
$icon-picassa2: "\e9a5";
$icon-dribbble: "\e9a6";
$icon-dribbble2: "\e9a7";
$icon-dribbble3: "\e9a8";
$icon-forrst: "\e9a9";
$icon-forrst2: "\e9aa";
$icon-deviantart: "\e9ab";
$icon-deviantart2: "\e9ac";
$icon-steam: "\e9ad";
$icon-steam2: "\e9ae";
$icon-dropbox: "\e9af";
$icon-onedrive: "\e9b0";
$icon-github: "\e9b1";
$icon-github2: "\e9b2";
$icon-github3: "\e9b3";
$icon-github4: "\e9b4";
$icon-github5: "\e9b5";
$icon-wordpress: "\e9b6";
$icon-wordpress2: "\e9b7";
$icon-joomla: "\e9b8";
$icon-blogger: "\e9b9";
$icon-blogger2: "\e9ba";
$icon-tumblr: "\e9bb";
$icon-tumblr2: "\e9bc";
$icon-yahoo: "\e9bd";
$icon-tux: "\e9be";
$icon-apple: "\e9bf";
$icon-finder: "\e9c0";
$icon-android: "\e9c1";
$icon-windows: "\e9c2";
$icon-windows8: "\e9c3";
$icon-soundcloud: "\e9c4";
$icon-soundcloud2: "\e9c5";
$icon-skype: "\e9c6";
$icon-reddit: "\e9c7";
$icon-linkedin: "\e9c8";
$icon-linkedin2: "\e9c9";
$icon-lastfm: "\e9ca";
$icon-lastfm2: "\e9cb";
$icon-delicious: "\e9cc";
$icon-stumbleupon: "\e9cd";
$icon-stumbleupon2: "\e9ce";
$icon-stackoverflow: "\e9cf";
$icon-pinterest: "\e9d0";
$icon-pinterest2: "\e9d1";
$icon-xing: "\e9d2";
$icon-xing2: "\e9d3";
$icon-flattr: "\e9d4";
$icon-foursquare: "\e9d5";
$icon-paypal: "\e9d6";
$icon-paypal2: "\e9d7";
$icon-paypal3: "\e9d8";
$icon-yelp: "\e9d9";
$icon-file-pdf: "\e9da";
$icon-file-openoffice: "\e9db";
$icon-file-word: "\e9dc";
$icon-file-excel: "\e9dd";
$icon-libreoffice: "\e9de";
$icon-html5: "\e9df";
$icon-html52: "\e9e0";
$icon-css3: "\e9e1";
$icon-git: "\e9e2";
$icon-svg: "\e9e3";
$icon-codepen: "\e9e4";
$icon-chrome: "\e9e5";
$icon-firefox: "\e9e6";
$icon-IE: "\e9e7";
$icon-opera: "\e9e8";
$icon-safari: "\e9e9";
$icon-IcoMoon: "\e9ea";
